In [1]:
!pwd

/Users/ashish1610dhiman/data_projects/fall22_hw/RoboChef/notebooks/recommendation

In [63]:
import pandas as pd
import numpy as np
import random
import random

from sklearn.model_selection import train_test_split
from tqdm.notebook import tqdm

In [3]:
TRAIN__Validation_SIZE = 0.8
TEST_SIZE = 0.2

In [4]:
raw_interactions = pd.read_csv("../../data/recommendation/RAW_interactions.csv")
raw_interactions.shape

(1132367, 5)

### Create Safe Train Test Split

In [11]:
random.seed(77)

In [12]:
raw_interactions.columns

Index(['user_id', 'recipe_id', 'date', 'rating', 'review'], dtype='object')

In [14]:
raw_interactions.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [79]:
mask_user = (raw_interactions["user_id"]==38094) | (raw_interactions["user_id"]==1293707)
df_user = raw_interactions.loc[mask_user]
mask_user.sum()

83

In [80]:
df_user = df_user.sample(frac=1)

In [82]:
df_user

,user_id,recipe_id,date,rating,review
471103,38094,49387,2003-12-08,5,Add me to the list of fans! Lots of flavor - ...
533572,38094,71569,2003-11-11,5,I thought this might be bland but was pleasant...
961288,1293707,167066,2011-02-11,5,"Very unusual, and absolutely delicious. Looks ..."
567899,38094,81845,2004-01-23,5,I have the same recipe and I agree this is a g...
879785,1293707,7404,2011-11-07,5,Delicious! I have been craving baked apples. M...
...,...,...,...,...,...
643096,38094,40852,2002-09-23,5,Inez says this is good for a dinner party. Th...
999230,1293707,29398,2011-01-05,5,"This was fabulous! Super easy, delicious, amaz..."
489683,1293707,150898,2011-01-04,5,Delicious! And so very easy. I used fresh rose...
1109802,38094,35302,2002-08-02,5,Just had this for the second time - obvious th...
298947,38094,39907,2002-09-12,4,This was my vegetarian dinner tonight. I used...

In [83]:
df_train_user,df_test_user  = train_test_split(df_user, test_size=TEST_SIZE)

In [84]:
df_train_user.shape,df_test_user.shape

((66, 5), (17, 5))

In [88]:
df_train_user.user_id.value_counts()

1293707    38
38094      28
Name: user_id, dtype: int64

In [90]:
10/38

0.2631578947368421

In [91]:
7/28

0.25

In [89]:
df_test_user.user_id.value_counts()

1293707    10
38094       7
Name: user_id, dtype: int64

In [109]:
df_user

,user_id,recipe_id,date,rating,review
471103,38094,49387,2003-12-08,5,Add me to the list of fans! Lots of flavor - ...
533572,38094,71569,2003-11-11,5,I thought this might be bland but was pleasant...
961288,1293707,167066,2011-02-11,5,"Very unusual, and absolutely delicious. Looks ..."
567899,38094,81845,2004-01-23,5,I have the same recipe and I agree this is a g...
879785,1293707,7404,2011-11-07,5,Delicious! I have been craving baked apples. M...
...,...,...,...,...,...
643096,38094,40852,2002-09-23,5,Inez says this is good for a dinner party. Th...
999230,1293707,29398,2011-01-05,5,"This was fabulous! Super easy, delicious, amaz..."
489683,1293707,150898,2011-01-04,5,Delicious! And so very easy. I used fresh rose...
1109802,38094,35302,2002-08-02,5,Just had this for the second time - obvious th...
298947,38094,39907,2002-09-12,4,This was my vegetarian dinner tonight. I used...

In [110]:
df_user.iloc[:-1]

,user_id,recipe_id,date,rating,review
471103,38094,49387,2003-12-08,5,Add me to the list of fans! Lots of flavor - ...
533572,38094,71569,2003-11-11,5,I thought this might be bland but was pleasant...
961288,1293707,167066,2011-02-11,5,"Very unusual, and absolutely delicious. Looks ..."
567899,38094,81845,2004-01-23,5,I have the same recipe and I agree this is a g...
879785,1293707,7404,2011-11-07,5,Delicious! I have been craving baked apples. M...
...,...,...,...,...,...
842358,1293707,94598,2011-07-17,5,"Absolutely delicious, and just the perfect mea..."
643096,38094,40852,2002-09-23,5,Inez says this is good for a dinner party. Th...
999230,1293707,29398,2011-01-05,5,"This was fabulous! Super easy, delicious, amaz..."
489683,1293707,150898,2011-01-04,5,Delicious! And so very easy. I used fresh rose...
1109802,38094,35302,2002-08-02,5,Just had this for the second time - obvious th...

In [118]:
df_user.iloc[-1:]

,user_id,recipe_id,date,rating,review
298947,38094,39907,2002-09-12,4,This was my vegetarian dinner tonight. I used...

In [119]:
def ad_train_test_split(df, test_size):
    df_train = pd.DataFrame()
    df_test = pd.DataFrame()
    
    user_normal_list=[]
#     user_single = []
    
    users_unique = df["user_id"].unique()
    for user in tqdm(users_unique):
        mask_user = df["user_id"]==user
        n_interactions_user = mask_user.sum()
        df_user = df.loc[mask_user]
        if n_interactions_user < int(1/test_size):
            df_user = df_user.sample(frac=1) #shuffle rows
            if n_interactions_user>1:
                df_train_user = df_user.iloc[:-1]
                df_test_user = df_user.iloc[-1:]
                df_train = pd.concat([df_train,df_train_user])
                df_test = pd.concat([df_test,df_test_user])
            else: #if  only one interaction pull in train
                user_normal_list.append(user)
        else: #if obs>= split size
            user_normal_list.append(user)
    
    #split normal by sklearn
    df_normal = df[df["user_id"].isin(user_normal_list)]
    df_train_normal,df_test_normal  = train_test_split(df_normal, test_size=TEST_SIZE)
    
    #append all
    df_train = pd.concat([df_train,df_train_normal])
    df_test = pd.concat([df_test,df_test_normal])
    return (df_train,df_test)

In [120]:
train_validation, test_set = ad_train_test_split(raw_interactions, test_size=TEST_SIZE)
train_validation.shape, test_set.shape

  0%|          | 0/226570 [00:00<?, ?it/s]

((887483, 5), (244884, 5))

In [122]:
887483/244884

3.6240954901096027

In [123]:
(887483+244884)-1132367

0

### Smell test

In [124]:
train_users = set(train_validation["user_id"])
test_users = set(test_set["user_id"])

In [125]:
len(train_users-test_users)

135740

In [126]:
len(test_users-train_users)

33554

In [127]:
only_test_users = len(test_users-train_users)

In [129]:
only_test_df = raw_interactions[raw_interactions['user_id'].isin(list(test_users-train_users))]

In [135]:
only_test_df["user_id"].value_counts().value_counts()

1    33553
5        1
Name: user_id, dtype: int64

### Write to Train/Test

In [136]:
train_validation.to_csv("../../data/recommendation/ad_interaction_train.csv",index=False)
test_set.to_csv("../../data/recommendation/ad_interaction_test.csv",index=False)